* {-moz-background-clip:padding;z-index:0}
a {cursor:pointer}
body,iframe {margin:0px;padding:0px}
div,span,img,a,form,body,label {border-width:1px;border-color:black}
.Link1_nm {color:#BC792B; }
.Link2_nm {color:#BC792B; }
.Label5_nm {font-size:18px; font-weight:bold; }
.Panel2_nm {background-position:0% 0%; }
.Panel3_nm {border-style:dotted; }
.Panel4_nm {border-style:dotted; }
.Link3_nm {color:#BC792B; }
.Label2_nm {font-size:18px; font-weight:bold; }
.Image4_nm {background-image:url('Image4_nm.png'); }
.Image10_nm {background-image:url('Image5_nm.png'); }
.Image1_nm {background-image:url('Image1_nm.png'); }
.Image9_nm {background-image:url('Image5_nm.png'); }
.index_nm {font-family:Arial; font-size:16px; }
.Label1_nm {font-family:Tahoma; font-size:20px; }
.Image8_nm {background-image:url('Image4_nm.png'); }
.Image5_nm {background-image:url('Image5_nm.png'); }
.Image6_nm {background-image:url('Image5_nm.png'); }
